@charset "UTF-8";

html {
	background-color: #f5f5f5;
}

p {
	font-family: serif;
}

a {
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:link:hover {
	cursor: pointer;
	color: #929292;
}

h1,h2,h3,h4,h5,h6 {
	font-family: monospace,serif;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

.wentao-blog-container {
	padding: 10px 0;
	font-family: sans-serif;
}

.paper {
	width: 600px;
	min-height: 300px;
	background-color: #fff;
	margin: 0 auto;
	padding: 40px 20px 10px; 
	box-shadow: 2px 2px 8px #aaa;
}

.wentao-blog-header {
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

.header-navi {
	float: right;
}

.blog-name {
	font-weight: bold;
	font-size: 26px;
}

ul.abstract_list {
	padding-top: 20px;
}

ul.abstract_list>li {
	margin-bottom: 20px;
}

.abstract {
	float: left;
	width: 520px;
}


.info {
	float: left;
	width: 70px;
	padding-left: 5px;
}

.pub-time {
	display: block;
	width: 50px;
	font-size: 13px;
	border-right: 1px solid;
	padding: 3px 10px 2px 0;
	text-align: center;
	white-space: nowrap;
	font-family: sans-serif;
}

.pub-time .year:after {
	content:".";
}

.pub-time .day {
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.abstract-title {
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 3px;
}

.abstract-content {
	font-size: 14px;
	padding-top: 5px;
	text-indent: 2em;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.wentao-blog-footer {
	border-top: 1px solid;
}

.copyright {
	display: block;
	font-size: 12px;
	text-align: center;
}
